<!DOCTYPE html>
<html lang="en">

<html xml:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <script th:src="@{/js/script.js}"></script>

    <title>Delete Complete</title>
</head>
<body>
    <div class="container">
        <form name="gamen10" th:action="@{/gamen2}" method="get">
            <div class="support_box1 dongang3">
                <p class="gamen_title">削除の完了</p>
                <button class="button btn-optional2" type="button" onclick="window.location.href='/logout'">ログアウト</button>

            </div>
            <div class="blank_row"></div>
            <div class="blank_row"></div>
            <div class="blank_row"></div>
            <div class="blank_row"></div>
            <p class="gamen_content">削除が完了しました。</p>
            <div class="blank_row"></div>
           
        <div class="support_box1 dongang5">
            <button class="button btn-optional2" type="submit" >Ok</button>
        </div>

        </form>
    </div>
</body>
</html>