<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <!-- js -->
    <script th:src="@{../vendors/scripts/core.js}"></script>
    <script th:src="@{../vendors/scripts/script.min.js}"></script>
    <script th:src="@{../vendors/scripts/process.js}"></script>
    <script th:src="@{../vendors/scripts/layout-settings.js}"></script>
    <script th:src="@{../src/plugins/apexcharts/apexcharts.min.js}"></script>

    <!-- Basic Page Info -->
    <title>DANT-Fpoly-Spring-2024</title>
    <!-- Site favicon -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../vendors/images/apple-touch-icon.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../vendors/images/favicon-32x32.png"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../vendors/images/favicon-16x16.png"
    />

    <!-- Mobile Specific Metas -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../vendors/styles/core.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="../vendors/styles/icon-font.min.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="../plugins/datatables/css/dataTables.bootstrap4.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="../vendors/styles/style.css" />

    </body>
</head>
<body>
<div class="header">
    <div class="header-left">
        <div class="menu-icon bi bi-list"></div>
        <div
                class="search-toggle-icon bi bi-search"
                data-toggle="header_search"
        ></div>
    </div>
    <div class="header-right">
        <div class="dashboard-setting user-notification">
            <div class="dropdown">
                <a
                        class="dropdown-toggle no-arrow"
                        href="javascript:;"
                        data-toggle="right-sidebar"
                >
                    <i class="dw dw-settings2"></i>
                </a>
            </div>
        </div>
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a
                        class="dropdown-toggle"
                        href="#"
                        role="button"
                        data-toggle="dropdown"
                >
							<span class="user-icon">
								<img src="../vendors/images/photo1.jpg" alt="" />
							</span>
                    <span class="user-name" sec:authentication="principal.authorities">Username</span>
                </a>
                <div
                        class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                >
                    <a class="dropdown-item" href="profile.html"
                    ><i class="dw dw-user1"></i> Profile</a
                    >
                    <a class="dropdown-item" href="profile.html"
                    ><i class="dw dw-settings2"></i> Setting</a
                    >
                    <a class="dropdown-item" href="faq.html"
                    ><i class="dw dw-help"></i> Help</a
                    >
                    <a class="dropdown-item" href="/logout"
                    ><i class="dw dw-logout"></i> Log Out</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-sidebar">
    <div class="sidebar-title">
        <h3 class="weight-600 font-16 text-blue">
            Layout Settings
            <span class="btn-block font-weight-400 font-12"
            >User Interface Settings</span
            >
        </h3>
        <div class="close-sidebar" data-toggle="right-sidebar-close">
            <i class="icon-copy ion-close-round"></i>
        </div>
    </div>
    <div class="right-sidebar-body customscroll">
        <div class="right-sidebar-body-content">
            <h4 class="weight-600 font-18 pb-10">Header Background</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a
                        href="javascript:void(0);"
                        class="btn btn-outline-primary header-white active"
                >White</a
                >
                <a
                        href="javascript:void(0);"
                        class="btn btn-outline-primary header-dark"
                >Dark</a
                >
            </div>

            <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
            <div class="sidebar-btn-group pb-30 mb-10">
                <a
                        href="javascript:void(0);"
                        class="btn btn-outline-primary sidebar-light"
                >White</a
                >
                <a
                        href="javascript:void(0);"
                        class="btn btn-outline-primary sidebar-dark active"
                >Dark</a
                >
            </div>

            <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
            <div class="sidebar-radio-group pb-10 mb-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebaricon-1"
                            name="menu-dropdown-icon"
                            class="custom-control-input"
                            value="icon-style-1"
                            checked=""
                    />
                    <label class="custom-control-label" for="sidebaricon-1"
                    ><i class="fa fa-angle-down"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebaricon-2"
                            name="menu-dropdown-icon"
                            class="custom-control-input"
                            value="icon-style-2"
                    />
                    <label class="custom-control-label" for="sidebaricon-2"
                    ><i class="ion-plus-round"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebaricon-3"
                            name="menu-dropdown-icon"
                            class="custom-control-input"
                            value="icon-style-3"
                    />
                    <label class="custom-control-label" for="sidebaricon-3"
                    ><i class="fa fa-angle-double-right"></i
                    ></label>
                </div>
            </div>

            <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
            <div class="sidebar-radio-group pb-30 mb-10">
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebariconlist-1"
                            name="menu-list-icon"
                            class="custom-control-input"
                            value="icon-list-style-1"
                            checked=""
                    />
                    <label class="custom-control-label" for="sidebariconlist-1"
                    ><i class="ion-minus-round"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebariconlist-2"
                            name="menu-list-icon"
                            class="custom-control-input"
                            value="icon-list-style-2"
                    />
                    <label class="custom-control-label" for="sidebariconlist-2"
                    ><i class="fa fa-circle-o" aria-hidden="true"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebariconlist-3"
                            name="menu-list-icon"
                            class="custom-control-input"
                            value="icon-list-style-3"
                    />
                    <label class="custom-control-label" for="sidebariconlist-3"
                    ><i class="dw dw-check"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebariconlist-4"
                            name="menu-list-icon"
                            class="custom-control-input"
                            value="icon-list-style-4"
                            checked=""
                    />
                    <label class="custom-control-label" for="sidebariconlist-4"
                    ><i class="icon-copy dw dw-next-2"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebariconlist-5"
                            name="menu-list-icon"
                            class="custom-control-input"
                            value="icon-list-style-5"
                    />
                    <label class="custom-control-label" for="sidebariconlist-5"
                    ><i class="dw dw-fast-forward-1"></i
                    ></label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input
                            type="radio"
                            id="sidebariconlist-6"
                            name="menu-list-icon"
                            class="custom-control-input"
                            value="icon-list-style-6"
                    />
                    <label class="custom-control-label" for="sidebariconlist-6"
                    ><i class="dw dw-next"></i
                    ></label>
                </div>
            </div>

            <div class="reset-options pt-30 text-center">
                <button class="btn btn-danger" id="reset-settings">
                    Reset Settings
                </button>
            </div>
        </div>
    </div>
</div>
<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="../vendors/images/deskapp-logo.svg" alt="" class="dark-logo" />
            <img
                    src="../vendors/images/deskapp-logo-white.svg"
                    alt=""
                    class="light-logo"
            />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
								<span class="micon bi bi-house"></span
                                ><span class="mtext">Home</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="/sach">Dashboard</a></li>

                    </ul>
                    <ul class="submenu">
                        <li><a href="/sach">Them Moi</a></li>

                    </ul>
                </li>



            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>
<div class="main-container">
    <div class="title pb-20">
        <h2 class="h3 mb-0">Them Moi San Pham</h2>
    </div>
    <!-- Default Basic Forms Start -->
    <div class="pd-20 card-box mb-30">
        <form enctype="multipart/form-data" action="#" th:action="@{/sach/them-moi/saveproduct}" method="post" th:object="${product}">
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Tên Sách</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" type="text" th:field="*{productName}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Tác Giả</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" type="text" th:field="*{productAuthor}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Số Chương</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" type="text" th:field="*{soTap}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Select</label>
                <div class="col-sm-12 col-md-10">
                    <select class="custom-select col-12" th:field="*{categories}">
                        <option value="0">Choose...</option>
                        <option th:each="option : ${categoryList}"  th:value="${option.id}" th:text="${option.categoryName}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Giới Thiệu</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" type="text" th:field="*{productShortDescription}">
                </div>
            </div>
            <div class="form-group row">
                  <label class="col-sm-12 col-md-2 col-form-label">Thêm Hình Ảnh</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="image" name="image"  aria-describedby="inputGroupFileAddon04"  aria-label="Upload" required="required" onchange="getImagePreview(event)">
                </div>
                <div id="preview"></div>
            </div>
            <button type="submit">Lưu</button>
        </form>
    </div>
    <!-- Default Basic Forms End -->
</div>
<script>
    function getImagePreview(event){
        var image = URL.createObjectURL(event.target.files[0]);
        var imagediv= document.getElementById('preview');
        var newimg= document.createElement('img');
        imagediv.innerHTML='';
        newimg.src= image;
        newimg.width= "212";
        imagediv.appendChild(newimg);
    }
</script>
</html>

