<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/fevalidation.js}"></script>
    <script th:src="@{/js/table.js}"></script>
<body>
<div class="container">
    <div class="container_form">
        <form  class="form-optional2"  enctype="multipart/form-data" action="#" th:action="@{/sach/them-moi/saveproduct}" method="post" th:object="${product}">
            <div class="box-inside-form box-inside-form-image">
                <div class="mx-auto w-25 " style="max-width:100%;">
                    <h>Thêm Hình Ảnh</h>
                    <div class="input-group">
                        <input type="file" class="form-control" id="image" name="image"  aria-describedby="inputGroupFileAddon04"  aria-label="Upload" required="required" onchange="getImagePreview(event)">
                    </div>
                    <div id="preview"></div>

                </div>
            </div>
            <div class="box-inside-form box-inside-form-content">
                    <h class="text-center mb-3">Thông Tin</h>
                    <div class="formGroup form-optional1">
                        <label>Tên Sách</label>
                        <input class="product_input" type="text"  th:field="*{productName}"/>
                    </div>
                    <select class="formGroup form-optional1" style="height: 32px;" id="dropDownList" th:field="*{categories}">
                        <option value="0">Thể Loại</option>
                        <option th:each="option : ${categoryList}"  th:value="${option.id}" th:text="${option.categoryName}"></option>
                    </select>
                    <div class="formGroup form-optional1">
                        <label >Tác Giả</label>
                        <input class="product_input" type="text" th:field="*{productAuthor}"/>
                    </div>
                    <div class="formGroup form-optional1">
                        <label >Số Tập</label>
                        <input class="product_input" type="number" th:field="*{soTap}" />
                    </div>

                    <div class="formGroup form-optional1">
                        <label >Giới Thiệu</label>
                        <textarea cols="40" rows="5" id="mo-ta-ngan" th:field="*{productShortDescription}"></textarea>
                    </div>
                <button style="width:30%" type="submit">Lưu</button>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    function getImagePreview(event){
        var image = URL.createObjectURL(event.target.files[0]);
        var imagediv= document.getElementById('preview');
        var newimg= document.createElement('img');
        imagediv.innerHTML='';
        newimg.src= image;
        newimg.width= "212";
        imagediv.appendChild(newimg);
    }
</script>
</html>