<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/core.css}">
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/table.js}"></script>

    <title>Search</title>
</head>
<body>

<div class="container">
    <span sec:authentication="name">Username</span>
    <span sec:authentication="principal.authorities">Roles</span>
    <span th:text="${idself}"></span>
    <form style="height:unset">
        <div class="gamen2_title_bar">
            <div class="support_box1 dongang1" style="justify-content:initial">
                <button type="button" onclick="window.location.href='/manhinh11_menu'">Menu</button>
                <button type="button" onclick="window.location.href='/sach/them-moi'">Thêm</button>
            </div>
            <button type="button" onclick="window.location.href='/logout'">Đăng Xuất</button>
        </div>
        <table id="productTable" class="tableemp">
            <thead>
            <tr>
                <th>Tên</th>
                <th>The Loai</th>
                <th>Hinh Anh</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                 <tr th:each="x : ${productList}" >
                     <td th:text="${x.productName}"></td>
                     <td th:text="${x.categories}"></td>
                     <td><img height="147px"  th:src="@{${'http://localhost:8080/api/v1/product/image/' + x.productImageName}}" alt=""></td>
                     <td style="text-align: center;font-size:large;">
                         <i class="fa fa-wrench" aria-hidden="true"></i>
                         <i class="fa fa-trash" aria-hidden="true"></i>
                     </td>

                 </tr>
            </tbody>
        </table>
        <br>
    </form>
</div>
</body>
</html>

